body, html {
    margin: 0;
    padding: 0;
}

.hero-image {
    background-image: url('./Assets/SL.jpeg');
    height: 2000px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 0;
}

/* .hero-image:hover {
    opacity: 0.5;
} */

#root {
    text-align: center;
}